{{>header}}

{{#with task}}
<div class="task__box-detailed">

 <div class="task__box-description">
   {{description}}
 </div>
 

 <div class="task__box-down p-1">
    <div class="task__box-status">
      <span class="task__box-status-completed">
         Completed:
      </span>{{completed}}
    </div>     
 </div>
 <div class="task__box-status p-1">
      <span class="task__box-status-completed">
         Created AT:
      </span>{{createdAt}}
  </div>

  <div class="task__box-status p-1">
      <span class="task__box-status-completed">
         Updated AT:
      </span>{{updatedAt}}
  </div>
 
  <div class="task__box-down p-1">
    <a href="/tasks/{{_id}}/edit" class="task__box-button m-2" >Edit</a>
    <form action="/tasks/{{_id}}?_method=DELETE" method="POST">
    <button class="task__box-button spx" >Delete</button>
    </form>
  </div>
 
 

</div> 

{{/with}}

{{>footer}}